@{
    ViewData["Title"] = "Supply Chain";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
       
    <main>
        <section>
            <h2>Bem-vindo ao sistema de Gerenciamento de Mercadorias!</h2>
            <p>Este sistema permite o cadastro de mercadorias, registro de entradas e saídas, além de gerar relatórios e gráficos para análise.</p>
        </section>
    </main>
    
</body>
</html>
